@model IEnumerable<MyPortfolio.Models.Portfolio>

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Works</p>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-/Content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Ben</li>
                    <li data-filter=".filter-card">Köpeğim</li>
                    <li data-filter=".filter-web">Yaptığım Çalışmalar</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-@item.Tur">
                    <div class="portfolio-wrap figure">
                        <img src="@item.Foto" class="figure-img img-fluid rounded">
                        <div class="portfolio-info">
                            <h4>@item.Tur</h4>
                            <div class="portfolio-links">
                                <a href="@item.Foto" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Tur"><i class="bx bx-plus"></i></a>
                                @*<a href="/Home/Details" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<!-- End Portfolio Section -->
