<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta Content="width=device-width, initial-scale=1.0" name="viewport">

    <meta Content="" name="description">
    <meta Content="" name="keywords">

    <!-- Favicons -->
    <link href="/Content/Personal/assets/img/favicon.png" rel="icon">
    <link href="/Content/Personal/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/Personal/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Personal/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Content/Personal/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/Personal/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Content/Personal/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/Content/Personal/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Personal/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <h1><a href="/Home/Index">Eren Delhis</a></h1>
            <h2>I'm a passionate <span>Web Developer</span> from New York</h2>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link active" href="#header">Home</a></li>
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link" href="#services">Services</a></li>
                    <li><a class="nav-link" href="#contact">Contact</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="social-links">
                <a href="https://www.instagram.com/erendelhis_/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BhpNb5KWpSTavJKNs67vUrA%3D%3D" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/ErenDelhis/desktop-tutorial/blob/main/README.md" class="github"><i class="bi bi-github"></i></a>
                <a href="https://discord.gg/DgkqR42r3D" class="discord"><i class="bi bi-discord"></i></a>
                <a href="/Admin/Login"><i class="fa-solid fa-user-gear" style="font-size: 15px;"></i></a>

            </div>

        </div>
    </header><!-- End Header -->
    @RenderBody()


    <!-- Vendor JS Files -->
    <script src="/Content/Personal/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/Content/Personal/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/Personal/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Content/Personal/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Content/Personal/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/Content/Personal/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/Content/Personal/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/Personal/assets/js/main.js"></script>
</body>
</html>