@model IEnumerable<MyPortfolio.Models.Portfolio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Layouts</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Layouts</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio Index</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p>
        <a class="ri-add-fill btn btn-success" href="/Portfolios/Create">Create</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tur)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Foto" alt="Alternate Text" class="rounded-circle" width="75" height="75" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tur)
                </td>

                <td>
                    <a class="ri-repeat-line btn btn-warning" href="/Portfolios/edit/@item.Id">  Edit</a>
                    <a class="ri-delete-bin-2-line btn btn-danger" href="/Portfolios/delete/@item.Id">  Delete</a>
                </td>
            </tr>
        }

    </table>
</main>
